*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  
}
body {
  background: linear-gradient(to top right,rgb(127, 255, 212),rgba(68, 94, 207, 0.733));
}